@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.pagina-exercicioquatro{

    .navegacao{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        background-color: #6278F7;
        padding: 10px;
    
    
        .um{
          display: flex;
          flex-direction: row;
          margin-left: 50px;
    
          img{
            height: 50px;
          }
    
          h1{
            color: #fff;
            font-size: 20px;
            font-family: 'Roboto';
            margin-top: 12px;
            margin-left: 25px;
          }
        }
    
        .dois{
          margin: 14px;
        
          a{
            color: #fff;
            text-decoration: none;
            font-family: 'Roboto';
            margin-right: 40px;
          }
    
          .inicio{
            margin-right: 0px;
          }
        }
    }

    
    main{
      display: flex;
      flex-direction: column;

      background-color: #F5F6FA;
      min-height: 100vh;
      padding: 50px;


      .parte-titulo{
        display: flex;
        flex-direction: row;

        img{
          height: 40px;
        }

        h1{
          font-family: 'Roboto';
          font-weight: 700;
          font-size: 26px;
          margin-top: 5px;
          margin-left: 15px;
        }
      }

      .parte-faixa{
        width: 1160px;
        height: 5px;
        margin-top: 17px;
        border-radius: 10px;
        background-color: #dd362a;
      }


      .parte-javascript{
        background-color: #fff;
        border-radius: 15px;

        padding: 80px 35px;
        margin-top: 50px;

        p{
          text-align: center;
          font: 400 15px 'Roboto';
          color: #383131;
        }
      }


      .parte-usuario{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;

        margin: 30px 360px;
        padding: 75px 50px;

        .p-um{
          margin-bottom: 8px;
        }

        .p-dois{
          margin-bottom: 8px;
          margin-top: 20px;
        }

        .input-um{
          padding: 8px;
          border-radius: 10px;
        }

        .input-dois{
          padding: 8px;
          border-radius: 10px;
        }


        p{
          font: 600 16px 'Roboto';
        }

        .botao{
          display: flex;
          justify-content: flex-end;

          background-color: #6278F7;
          color: #fff;
          font-family: 'Roboto';

          margin: 25px 0px 5px 180px;
          padding: 10px 50px 10px 100px;
          border-radius: 10px;
        }
      }

      .p-final{
        text-align: center;
        margin-left: 200px;
        margin-top: -25px;

        font: 650 16px 'Roboto';
      }
    }
}