@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.pagina-app{

  .navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #6278F7;
    padding: 10px;


    .um{
      display: flex;
      flex-direction: row;
      margin-left: 50px;

      img{
        height: 50px;
      }

      h1{
        color: #fff;
        font-size: 20px;
        font-family: 'Roboto';
        margin-top: 12px;
        margin-left: 25px;
      }
    }

    .dois{
      margin: 14px;
    
      a{
        color: #fff;
        text-decoration: none;
        font-family: 'Roboto';
        margin-right: 40px;
      }

      .inicio{
        margin-right: 0px;
      }
    }
  }

  main{
    background-color: #F5F6FA;
    min-height: 100vh;
    padding: 50px;

    h1{
      font-family: 'Roboto';
      font-size: 25px;
      color: #383131;
    }

    .cartoes{
      display: flex;
      flex-wrap: wrap;

      margin: 30px;
      gap: 50px;

      .cartao-um{
        background-color: #fff;
        display: flex;

        flex-direction: column;
        align-items: center;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 15px;
        border-radius: 10px;

        p{
          font-family: 'Roboto';
          margin-bottom: 20px;
        }

        .exercicio-um{
          font-family: 'Roboto';
        }

        a{
          text-decoration: none;
          color: #383131;
        }

        .cubo-amarelo{
          background-color: #f0c711;
          margin: 20px;
          
          padding: 40px;
          border-radius: 15px;
        }
      }

      .cartao-dois{
        background-color: #fff;
        display: flex;

        flex-direction: column;
        align-items: center;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 15px;
        border-radius: 10px;

        p{
          font-family: 'Roboto';
          margin-bottom: 20px;
        }

        .exercicio-dois{
          font-family: 'Roboto';
        }

        a{
          text-decoration: none;
          color: #383131;
        }

        .cubo-verde{
          background-color: #51f36c;
          margin: 20px;
          padding: 40px;
          border-radius: 15px;
        }
      }

      .cartao-tres{
        background-color: #fff;
        display: flex;

        flex-direction: column;
        align-items: center;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 25px;
        border-radius: 10px;

        p{
          font-family: 'Roboto';
          margin-bottom: 20px;
        }

        .exercicio-tres{
          font-family: 'Roboto';
        }

        a{
          text-decoration: none;
          color: #383131;
        }

        .cubo-azul{
          background-color: #3aaee4;
          margin: 20px;
          padding: 40px;
          border-radius: 15px;
        }
      }


      .cartao-quatro{
        background-color: #fff;
        display: flex;

        flex-direction: column;
        align-items: center;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 25px;
        border-radius: 10px;

        p{
          font-family: 'Roboto';
          margin-bottom: 20px;
        }

        .exercicio-quatro{
          font-family: 'Roboto';
        }

        a{
          text-decoration: none;
          color: #383131;
        }

        .cubo-vermelho{
          background-color: #dd362a;
          margin: 20px;
          padding: 40px;
          border-radius: 15px;
        }
      }


      .cartao-cinco{
        background-color: #fff;
        display: flex;

        flex-direction: column;
        align-items: center;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 25px;
        border-radius: 10px;

        p{
          font-family: 'Roboto';
          margin-bottom: 20px;
        }

        .exercicio-cinco{
          font-family: 'Roboto';
        }

        a{
          text-decoration: none;
          color: #383131;
        }

        .cubo-roxo{
          background-color: #bf2add;
          margin: 20px;
          padding: 40px;
          border-radius: 15px;
        }
      }


      .cartao-seis{
        background-color: #fff;
        display: flex;

        flex-direction: column;
        align-items: center;

        padding-left: 60px;
        padding-right: 60px;
        padding-top: 10px;
        padding-bottom: 25px;
        border-radius: 10px;

        p{
          font-family: 'Roboto';
          margin-bottom: 20px;
        }

        .exercicio-seis{
          font-family: 'Roboto';
        }

        a{
          text-decoration: none;
          color: #383131;
        }

        .cubo-cinza{
          background-color: #dad0c4;
          margin: 20px;
          padding: 40px;
          border-radius: 15px;
        }
      }
    }
  }
  
}