@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.pagina-app{

  .navegacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #6278F7;
    padding: 10px;


  .um{
    display: flex;
    flex-direction: row;
    margin-left: 50px;

    img{
      height: 50px;
    }

    h1{
      color: #fff;
      font-size: 20px;
      font-family: 'Roboto';
      margin-top: 12px;
      margin-left: 25px;
    }
  }

  .dois{
    margin: 14px;
    
    a{
      color: #fff;
      text-decoration: none;
      font-family: 'Roboto';
      margin-right: 40px;
    }

    .inicio{
      margin-right: 25px;
    }
  }
  }

  main{
    background-color: #F5F6FA;
    min-height: 100vh;
    padding: 50px;

    h1{
      font-family: 'Roboto';
      font-size: 25px;
      color: #383131;
    }

    .cartoes{
      display: flex;
      flex-direction: row;
      margin: 30px;

      .cartao-um{
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 10px;

        .cubo-amarelo{
          background-color: yellow;
          margin: 20px;
          padding: 20px;
        }


      }
    }
  }
}