.pagina-exercicioquatorze {

      main{
        display: flex;
        flex-direction: column;
  
        background-color: #F5F6FA;
        min-height: 100vh;
        padding: 50px;
  
  
        .parte-usuario{
          display: flex;
          flex-direction: column;
          background-color: #fff;
          border-radius: 10px;
  
          margin: 30px 360px;
          padding: 55px 50px;
  
          .p-um{
            margin-bottom: 8px;
          }
  
          .input-um{
            padding: 8px;
            border-radius: 10px;
          }
  
          p{
            font: 600 16px 'Roboto';
          }
  
          .botao{
            display: flex;
            justify-content: flex-end;
  
            background-color: #6278F7;
            color: #fff;
            font-family: 'Roboto';
  
            margin: 25px 0px 5px 180px;
            padding: 10px 50px 10px 100px;
            border-radius: 10px;
          }
        }
  
        .p-final{
          text-align: center;
          margin-left: 200px;
          margin-top: -25px;
  
          font: 650 16px 'Roboto';
        }
      }
    }
